<% bulk_update_path = "bulk_update_custom_field_context_menu_link_#{crm_entity}" %>

<ul>
  <% if @issue -%>
    <li><%= context_menu_link l(:button_edit), send("edit_project_#{crm_entity}_path", @project, @issue),
      class: 'icon-edit', disabled: !@can[:edit]
    %></li>
  <% else %>
    <li><%= context_menu_link l(:button_edit),
      send("bulk_edit_project_#{crm_entity.pluralize}_path", project_id: @project, ids: @issue_ids),
      class: 'icon-edit', disabled: !@can[:edit]
    %></li>
  <% end %>

  <% if @safe_attributes.include?('assigned_to_id') && @assignables.present? -%>
  <li class="folder">
    <a href="#" class="submenu"><%= l(:field_assigned_to) %></a>
    <ul>
    <% if @assignables.include?(User.current) %>
      <li><%= send(bulk_update_path, 'assigned_to_id', User.current.id, "<< #{l(:label_me)} >>") %></li>
    <% end %>
    <% @assignables.each do |u| -%>
      <li><%= send(bulk_update_path, 'assigned_to_id', u.id, h(u.name),
        {selected: (@issue && u == @issue.assigned_to)})
      %></li>
    <% end -%>
      <li><%= send(bulk_update_path, 'assigned_to_id', 'none', l(:label_nobody),
        {selected: (@issue && @issue.assigned_to.nil?)})
      %></li>
    </ul>
  </li>
  <% end %>

  <% @options_by_custom_field.each do |field, options| %>
    <li class="folder cf_<%= field.id %>">
      <a href="#" class="submenu"><%= h(field.name) %></a>
      <ul>
      <% options.each do |text| %>
        <li><%= send(bulk_update_path, 'custom_field_values', {field.id => text}, text) %></li>
      <% end %>
      <% unless field.is_required? %>
        <li><%= send(bulk_update_path, 'custom_field_values', {field.id => '__none__'}, l(:label_none)) %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
									
  <li><%= context_menu_link l(:button_delete),
    send("project_#{crm_entity.pluralize}_path", project_id: @project, ids: @issue_ids, back_url: @back),
    method: :delete, data: {confirm: l(:text_destroy_confirmation)}, class: 'icon-del', disabled: !@can[:delete] 
  %></li>

</ul>
