<% ents = crm_entity.pluralize %>

<div class="issue-edit-name-field">
  <p><%= f.text_field :name, :required => true %></p>
</div>
<div class="splitcontentleft">
  <p class="description">
    <%= f.label_for_field :description, :required => @issue.required_attribute?('description') %>
    <%= link_to('', {:controller => ents, :action => 'toggle_description', :id => @issue, :element => 'issue_description_and_toolbar'}, :class => 'icon icon-edit', :title => l(:button_edit), :remote => true, :id => 'description_toggler') unless @issue.new_record? %>
  </p>
</div>
<div class="clear"></div>
<div id="issue_description_and_toolbar">
  <% if @issue.new_record? %>
    <%= f.text_area( :description,
            :cols => 60,
            :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
            :class => 'wiki-edit',
            :no_label => true) %>
    <%= wikitoolbar_for('issue_description', :attachment_reminder => true) unless in_mobile_view? %>
  <% end %>
</div>


<%= render_hidden_crm_attributes_for_edit(crm_entity, @issue, f) %>

<div id="attributes" style="clear:both">
  <%= render :partial => "#{ents}/edit_form_updatable_attributes", :locals => {:show_on_more_form => true} %>
</div>
