<%# LOCALS: crm_entity %>

<%= render :partial => 'easy_queries/easy_query_index', :locals => {:query => @query, :easy_query_name => project_heading(@project, l(:"label_#{crm_entity}_index"))} %>
<%= render_csv_format_options_dialog(@query, params) if @query.new_record? %>

<div class="contextual">
  <%= link_to_if_authorized l(:"label_#{crm_entity}_new"), {:controller => crm_entity.pluralize, :action => 'new', :project_id => @project}, :class => 'icon icon-add' %>
</div>
<div style="clear: both"></div>

<% if @query.valid? %>
  <% if @issues.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <div id="issues">
      <%= render :partial => 'list', :locals => {:issues => @issues, :query => @query} %>
    </div>
    <% if @query.grouped? && @issues.any? %>
      <% next_link_params = {:previous_group => @query.group_by_column.value(@issues.last).to_param.to_s} %>
    <% end -%>
    <p class="pagination" style="display:none;"><%= pagination_links_full(@issue_pages, @issue_count, :next_link_params => next_link_params) %></p>
  <% end %>

  <%= render(:partial => 'easy_queries/easy_query_export_format_links', :locals => {:query => @query}) -%>
<% end %>
<%= call_hook(:view_issues_index_bottom, { :issues => @issues, :project => @project, :query => @query }) %>

<% ### PAGE CUSTOMS ########################################################## %>

<% content_for :sidebar do %>
  <%= render(:partial => 'sidebar/issues_buttons', :locals => {:project => @project}) if @project.nil? %>
  <%= render :partial => 'sidebar/project_info', :locals => {:project => @project} %>
  <%= render :partial => 'sidebar/project_members', :locals => {:project => @project} %>
  <%= render :partial => 'sidebar/saved_easyqueries_by_type', :locals => {:query_class => @query.class, :project => @project} %>
  <%= render :partial => 'sidebar/all_users_queries' if @project.nil? %>
<% end %>

<% content_for :header_tags do %>
  <%= auto_discovery_link_tag(:atom, {:query_id => @query, :format => 'atom', :page => nil, :key => User.current.rss_key}, :title => l(:label_issue_plural)) %>
  <%= auto_discovery_link_tag(:atom, {:controller => 'journals', :action => 'index', :query_id => @query, :format => 'atom', :page => nil, :key => User.current.rss_key}, :title => l(:label_changes_details)) %>
  <script type="text/javascript">
    $(document).ready(function() {
      setInfiniteScrollDefaults();
      $('table.list.issues:first > tbody').infinitescroll({
        navSelector: 'p.pagination',
        nextSelector: 'p.pagination > a.next',
        itemSelector: 'table.list > tbody > tr, p.pagination > a.next'
      }, function(data, opts) {
        var a = $(data.pop());
        if(a.is('a')) {
          opts.path = [a.attr('href')];
          a.remove();
        } else {
          data.push(a[0]);
          opts.state.isPaused = true;
        }
      });
    });
  </script>
<% end %>

<% content_for :easy_page_layout_service_box do %>
  <ul class="menu-manager  menu-issues-easy-page-layout-service-box">
    <%= content_tag :li, link_to(l(:label_issue_new), {:controller => 'easy_issues', :action => 'new'}, :class => 'button-1 icon icon-add orange', :accesskey => accesskey(:new_issue)) unless @project -%>
  </ul>
<% end %>

<%= context_menu(send "#{crm_entity.pluralize}_context_menu_path") %>
